@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Lato:ital,wght@1,300&family=Merienda:wght@500&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

*{
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font: vollkorn, sans-serif;
    font-weight: 250;
    color: black;
    background-color: #4b06e0;
}

h1, h2 {
    font: Merienda, sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#treat-logo {
    float: left;  
    font-size: 300%;
    margin-left: 35px;
}

#nav-bar {
    font-size: 150%;
    letter-spacing: 6px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
}

#nav-bar a {
    color: whitesmoke;
    font: Merienda, sans-serif;
}

#treat-logo, #nav-bar {
    line-height: 60px;
}

#nav-bar a:hover {
    color: #EFDF42;
}

.buns {
    
}

.cakes {
   
}

.special {
    
}
   