@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Lato:ital,wght@1,300&family=Merienda:wght@500&family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

body {
    font-family: Vollkorn, sans-serif;
    font-weight: 550;
    color: whitesmoke;
    text-align: justify;
    background-color: #0560ab;
}

h1,
h2 {
    font-family: Merienda, sans-serif;
    color: #f1f906;
    text-transform: uppercase;
    text-decoration: none;
}

.homemade {
    text-align: center;
    font-weight: 500;
    font-family: Merienda, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-size: 2rem;
}

.about-us {
    width: auto;
    margin-inline: auto;
    background-color: #f43f18;
    clear: both;
    border: 10px #f1f906 solid;
    margin-top: 5px;
}

.products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.buns img,
.cakes img,
.occasions img {
    height: 350px;
    width: 350px;
    object-fit: fill;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 5px #f1f906 solid;
    transition: transform 0.2s;
}

.buns h2,
.cakes h2,
.occasions h2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

footer {
    height: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    background-color: #f1f906;
    margin: 10px;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 3rem;
    color: #0560ab;
    letter-spacing: 3rem;
}

#treat-logo {
    float: left;
    font-size: 2rem;
    margin-left: 10px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#nav-bar {
    font-size: 1rem;
    letter-spacing: 5px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav-bar a {
    color: #f1f906;
    font-family: Merienda, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

#treat-logo,
#nav-bar {
    line-height: 10px;
}

#nav-bar a:hover,
#treat-logo:hover {
    color: #f43f18;
}

#treat-photos {
    clear: both;
    line-height: 0;
    column-count: 5;
    column-gap: 0;
}

#treat-photos > img {
    width: 100%;
    margin: 2px;
}

.about-us > p {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin: 4px;
    padding: 10px;
}

a > h2:hover {
    color: #f43f18;
}

.social-links i:hover {
    color: #f43f18;
}

a > h2 {
    margin-top: 1.5rem;
}

img:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

/* form styling */

.form {
    display: flex;
    justify-content: center;
    background-color: #f43f18;
    width: 50%;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    clear: both;
    border: #f1f906 10px solid;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    border-radius: 10px;
    padding: 2px;
    width: auto;
}

textarea {
    resize: vertical;
    border-radius: 10px;
    padding: 5px;
    max-height: 300px;
    color: black;
    justify-content: center;
}

.fname,
.lname,
.email,
.enquiry,
.submit,
.mobile {
    padding: 10px;
    font-size: 1.2rem;
    justify-content: center;
    display: flex;
    color: #f9fbfc;
}


.input {
    justify-content: center;
    display: flex;
    margin: auto;
}

form > h1 {
    color: #f9fbfc;
    text-align: center;
}


@media only screen and (max-width: 950px) {
    .buns img,
    .cakes img,
    .occasions img {
        height: 200px;
        width: 200px;
        object-fit: fill;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 5px #f1f906 solid;
        transition: transform 0.2s;
    }

    .social-links i {
        font-size: 3rem;
        color: #0560ab;
        letter-spacing: 15px;
    }

    .form {
        display: flex;
        justify-content: center;
        background-color: #f43f18;
        width: 75%;
        margin: auto;
        padding: 40px;
        border-radius: 10px;
        box-sizing: border-box;
    }

    #nav-bar {
        float: left;
    }
}


@media only screen and (max-width: 500px) {
    .mobile-hidden {
        display: none;
    }

    #treat-photos {
        column-count: 2;
    }

    .buns img,
    .cakes img,
    .occasions img {
        height: 200px;
        width: 200px;
        object-fit: fill;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 5px #f1f906 solid;
        transition: transform 0.2s;
    }

    .social-links i {
        font-size: 3rem;
        color: #0560ab;
        letter-spacing: 15px;
    }

    .form {
        display: flex;
        justify-content: center;
        background-color: #f43f18;
        width: 75%;
        margin: auto;
        padding: 40px;
        border-radius: 10px;
        box-sizing: border-box;
    }

    #nav-bar {
        font-size: 12px;
        letter-spacing: 2px;
        float: left;
    }
}
