@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Lato:ital,wght@1,300&family=Merienda:wght@500&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

*{
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: vollkorn, sans-serif;
    font-weight: 250;
    color: black;
    background-color: #4b06e0;
}

h1, h2 {
    font-family: Merienda, sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#treat-logo {
    float: left;  
    font-size: 300%;
    margin-left: 35px;
}

#nav-bar {
    font-size: 150%;
    letter-spacing: 6px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
}

#nav-bar a {
    color: whitesmoke;
    font-family: Merienda, sans-serif;
    text-transform: uppercase;
}

#treat-logo, #nav-bar {
    line-height: 60px;
}

#nav-bar a:hover {
    color: #EFDF42;
}

#treat-logo:hover {
    color: #EFDF42;
}

.homemade {
    text-align: center;
    font-weight: 500;
    font-family: merienda, sans-serif;
}

.about-us {
    height: 500px;
    width: 100%;
    background-color: silver;
    clear: both;
}

.buns {
    height: 350px;
    width: 20%;
    background-color: red;
    display: inline-block;
    border: 3px solid whitesmoke;
    box-sizing: border-box;
    margin-left: 80px;
}


.cakes {
    height: 350px;
    width: 20%;
    background-color: green;
    display: inline-block;
    border: 3px solid whitesmoke;
    box-sizing: border-box;
    margin-left: 310px;
}


.special-occasions {
    height: 350px;
    width: 20%;
    background-color: yellow;
    display: inline-block;
    border: 3px solid whitesmoke;
    box-sizing: border-box;
    float: right;
    margin-right: 80px;
}

.buns img {
    height: 350px;
    width: 100%;
    object-fit: fill;
    background-size: cover;
    background-position: center;
}

.cakes img {
    height: 350px;
    width: 100%;
    object-fit: fill;
    background-size: cover;
    background-position: center;
}

.special-occasions img {
    height: 350px;
    width: 100%;
    object-fit: fill;
    background-size: cover;
    background-position: center;
}
